<section>
  <article class="welcome">
    <h3>About</h3>
    <img src="http://images.iop.org/objects/ccr/cern/41/7/18/cernpeo20_9-01.jpg" alt="" />
    <p>
      Our company was started in 1992 in a warehouse in Houston Texas.  It was a couple of engineers that came from a little town in Texas called Whattaley.  They went to High School together and then became business partners.
    </p>
    <p>
      Jim Hamersley and Gary Randowski figured out how to build bridges while in middle school.  They were in an algebra class together and figuring out how to put together two land masses using trigonometry.  They kept mispelling the word trigonometry so they figured out the material density tolerances needed to bring together to massive plates of steel.  The next challenge they needed to figure out was how to implant the various trusses into the ground.  They started to laugh and giggle and giggle again and again.  They realized that they are going to become millionaires!
    </p>
    <p>
      In 2001 they went public and made their first IPO offering on the New York Stock Exchange and made the offering to the market at a price of $8.60 a share.  The IPO killed and Jim and Gary made over 12 million dollars in less than 20 minutes.  Jim immediately went to Hawaii and Gary went to Alabama.  They met later and had Pina Colladas in Los Angeles.  After months of living large and being fo' real ballaz, Jim and Gary's relationship was strained.  They realized that there is no way that they can maintain their legitness to the level they had been bringing it at the clubs.  Jim unfortunately died after overdosing on 6 kilos of cocaine.
    </p>
  </article>
  <hr>
  <article class="contact">
    <h3>Contact</h3>
    <p>
      Contact us day or night 24 hours a day, seven days a week.  We take pride in getting back to our customers with the speed of light and the process of sound.  Let us know what you think of our amazing new website built on Ruby and the Sinatra framework!
    </p>
    <form class="" action="index.html" method="post">
      <fieldset>
        <input type="text" name="name" value="" placeholder="First Name" />
        <input type="text" name="name" value="" placeholder="Last Name" />
        <input type="email" name="name" value="" placeholder="Email Address" />
        <textarea name="message" rows="8" cols="40" placeholder="Message"></textarea>
        <input type="submit" name="name" value="Submit">
      </fieldset>
    </form>
  </article>
</section>
