<div class="wrapper">
  <section>
    <article class="welcome">
      <h3>Welcome to Bridge builders</h3>
      <p>
        We are your one stop shop for building the most exquisite bridges in North America.  If you need to get from point a to point b and while doing it, you need to traverse a very large obstacle like a river or a lake or a large quarry, you should come to us to build your solution.  We build several bridges every week and have been featured in numerous publications including <em>Bridges Today</em> and <em>Getting Over It Weekly</em>.  Come check out all that we have to offer.
      </p>
      <button type="button" name="button">Learn More!</button>
    </article>
    <article class="features">
      <div class="featurehead">
        <h3>Feature Projects</h3>
        <p>
          Have a look at some of our best projects.  These are examples that show some of the bridges that we have built and won awards and have gained national, and in some cases, global recognition for.  We take great pride in the work that we have done in the past and we hope that you will agree that we are the best.
        </p>
      </div>
      <div class="feature">
        <figure><img src="/" alt="boulderrock" /></figure>
        <figcaption>The Boulder Rock Bridge Project in New Mexico.  It was a 12 month build with several lanes of pedestrian, bicycle and car traffic support</figcaption>
      </div>
      <div class="feature">
        <figure><img src="/" alt="steelplate" /></figure>
        <figcaption>The Steel Plate Experimental in Camden, Maine.  This bridge was a long project that took over 19 months to complete because of the engineering trials that were required to allow airplane landings and terrorist attacks.</figcaption>
      </div>
    </article>
  </section>
  <aside class="more links">
    <article class="press">
      <h4>Additional Resources</h4>
      <ul>
        <li><a href="#">Bridges Today</a></li>
        <li><a href="#">Bridges.tv</a></li>
        <li><a href="#">Get Over It Weekly</a></li>
        <li><a href="#">Moder Bridges Magazine</a></li>
        <li><a href="#">Bridge News</a></li>
        <li><a href="#">How to Build a Bridge</a></li>
      </ul>
    </article>
    <article class="funders">
      <h4>Funding Sources</h4>
      <p>
        Special thanks to the following funding organizations
      </p>
      <ul>
        <li><a href="#">Society for Bridges and Tunnels</a></li>
        <li><a href="#">The American Association for Bridge Builders</a></li>
        <li><a href="#">The Bridge Builders and Tunnel Diggers Union (Chapter 106A)</a></li>
      </ul>
    </article>
  </aside>

</div>
