<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bridge Builders</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <header>
      <h1>Bridge Builders</h1>
      <nav>
        <a href="/home">HOME</a>
        <a href="/services">SERVICES</a>
        <a href="/about">ABOUT</a>
      </nav>
    </header>

    <div class="wrapper clearfix">
      <%= yield %>
    </div>
    
    <footer>
      &copy;2015 Bridge Builders, Inc.  All rights reserved.
    </footer>
  </body>
</html>
