<section>
  <article class="welcome">
    <h3>Our Services</h3>
    <p>
      We Provide many serviced for our customers but the most common are listed here.  Please don't hesitate to <a href="#">contact us</a> at any time with any questions that you may have about the your bridge building needs!
    </p>
  </article>
  <div class="features">
    <article class="feature">
      <h3>Bridge Design</h3>
      <img src="/" alt="" />
    </article>
    <article class="feature">
      <h3>Bridge Repair</h3>
      <img src="/" alt="" />
    </article>
    <article class="feature">
      <h3>Bridge Design &amp; Build</h3>
      <img src="/" alt="" />
    </article>

  </div>

</section>
